#!/bin/sh -e

# Source debconf library.
PATH=$PATH:.
if [ -e confmodule ]; then
  . confmodule
else
  . /usr/share/debconf/confmodule
fi

db_settitle collectw/title

db_input medium collectw/http_host || true
db_input medium collectw/http_port || true
#db_input low collectw/admin_username || true
#db_input low collectw/admin_password || true
db_go || true
