#!/bin/sh -e

# Source debconf library.
PATH=$PATH:.
if [ -e confmodule ]; then
  . confmodule
else
  . /usr/share/debconf/confmodule
fi

db_settitle collectw/title

echo "Configuring collectw.."

db_input high collectw/site_host || true
db_input high collectw/site_port || true
db_input high collectw/admin_username || true
db_input high collectw/admin_password || true
