Source: collectw
Section: admin
Priority: optional
Maintainer: Phoenix Kayo <kayo.k11.4@gmail.com>
Build-Depends: debhelper (>= 7), po-debconf, librrd-dev, libfcgi-dev
Standards-Version: 3.8.2
Homepage: http://collectw.sf.net

Package: collectw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} collectd
Description: Asynchronous Web-based UI for Collectd.
  .

Package: collectw-dbg
Section: debug
Recommends: gdb
Architecture: any
Depends: collectw (= ${Source-Version})
Description: Debug symbols for Asynchronous Web-based UI for Collectd.
  .
