#!/usr/bin/make -f

clean::
	make clean
	dh_clean
	rm -f stamp/*
	rm -f debian/collectw.substvars
	touch $@

.PHONY: build install clean
.PRECIOUS:

build:
	./configure --prefix=debian/collectw/usr --enable-debug --with-user-config=/etc/collectw/user-config.json
	make

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	make install

proper:
	dh_clean

binary-arch: proper build install
	dh_testdir
	dh_testroot
	dh_installinit --name=collectw --onlyscripts
	dh_strip --dbg-package=collectw-dbg
	dh_installchangelogs
	dh_installdocs
	dh_installdebconf -n
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
