#!/usr/bin/make -f

clean::
	make clean
	dh_clean
	rm -f build-stamp
	rm -f debian/collectw.substvars

.PHONY: build install clean
.PRECIOUS:


build-stamp:
	./configure --prefix=debian/collectw/usr --enable-debug --with-user-config=/etc/collectw/user-config.json
	make
	touch $@

build: build-stamp

install:
	dh_testdir
	dh_testroot
	#dh_clean -k
	dh_prep
	dh_installdirs
	
	cp collectw debian/collectw/usr/bin
	cp index.html script.js style.css icon.png debian/collectw-data/usr/share/collectw
	
binary: build install
	dh_testdir
	dh_testroot
	dh_installinit -n
	dh_strip --dbg-package=collectw-dbg
	dh_installdebconf -n -pcollectw
	dh_installchangelogs -i
	dh_installdocs -i
	#dh_installdocs -a --link-doc=collectw-data
	mkdir -p debian/collectw/usr/share/doc && ln -s collectw-data debian/collectw/usr/share/doc/collectw
	mkdir -p debian/collectw-dbg/usr/share/doc && ln -s collectw-data debian/collectw-dbg/usr/share/doc/collectw-dbg
	dh_compress -i
	dh_fixperms
	dh_installdeb -pcollectw
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
